<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hes.admin.mapper">

	<select id="listDoctor" resultType="DoctorDTO">
		select * from hospital_doctor order by dep_Code
	</select>
	
	<select id="setDepartment" resultType="DepartmentDTO">
		select * from hospital_department order by dep_Code
	</select>
	
	<select id="docFiltering" parameterType="int" resultType="DoctorDTO">
		select * from hospital_doctor where dep_Code=#{filter}
	</select>
	
	<insert id="insertDoctor" parameterType="DoctorDTO">
		insert into hospital_doctor values(doc_seq.nextval, #{doc_Rank}, #{doc_Major}, #{resident_Num}, #{doc_Name}, #{dep_Code})
	</insert>
	
	<delete id="deleteDoctor" parameterType="int">
		delete hospital_doctor where doc_Code=#{doc_Code}
	</delete>
	
	<select id="getDoctor" parameterType="int" resultType="DoctorDTO">
		select * from hospital_doctor where doc_Code=#{doc_Code}
	</select>
	
	<update id="updateDoctor" parameterType="DoctorDTO">
		update hospital_doctor set doc_Rank=#{doc_Rank}, doc_Major=#{doc_Major}, resident_Num=#{resident_Num}, doc_Name=#{doc_Name}, dep_Code=#{dep_Code} where doc_Code=#{doc_Code}
	</update>
	
</mapper>