<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hes.admin.mapper.*">
	<insert id="insertReservation" parameterType="ReservationDTO">
		insert into hospital_reservation values (hospital_reservation_num.nextval, to_char(sysdate,'yyyy-mm-dd'), #{treatment_Date}, 
		#{treatment_Time}, #{patient_Name}, #{dep_Code}, #{doc_Name}, #{reservation_Detail}, '예약접수중')
	</insert>
	
	<select id="listReservation" resultType="ReservationDTO">
		select * from hospital_reservation order by reservation_date desc
	</select>
	
	<select id="getReservation" resultType="ReservationDTO">
		select * from hospital_reservation where reservation_Code=#{reservation_Code}
	</select>
	
	<select id="searchReservation1" resultType="ReservationDTO">
		${sql}
	</select>
	
	<select id="searchReservation2" resultType="ReservationDTO">
		${sql}
	</select>
	
	<update id="approveReservation" parameterType="int">
		update hospital_reservation set reservation_Progress = '예약승인' where reservation_Code=#{reservation_Code}
	</update>
	
	<update id="rejectReservation" parameterType="int">
		update hospital_reservation set reservation_Progress = '예약거절' where reservation_Code=#{reservation_Code}
	</update>
</mapper>