<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hes.admin.mapper.*">
	<select id="listRoom" resultType="roomDTO">
		select * from hospital_room order by roomName asc
	</select>
	
	<select id="getRoom" resultType="roomDTO">
		select * from hospital_room where roomNum=#{roomNum}
	</select>
	
	<insert id="insertRoom" parameterType="roomDTO">
		insert into hospital_room values
		(hospital_room_num.nextval, #{roomName},#{price},#{accommodated_number},#{accommodated_number})
	</insert>
	
	<delete id="deleteRoom" parameterType="int">
		delete from hospital_room where roomNum=#{roomNum}
	</delete>
	
	<update id="updateRoom" parameterType="roomDTO">
		update hospital_room set roomName=#{roomName}, price=#{price}, accommodated_number=#{accommodated_number}
		where roomNum=#{roomNum}
	</update>
	
	<update id="minAccommodatedNumNow" parameterType="String">
		update hospital_room set accommodated_number_now = accommodated_number_now-1
		where roomName=#{roomName}
	</update>
	
	<update id="plusAccommodatedNumNow" parameterType="String">
		update hospital_room set accommodated_number_now = accommodated_number_now+1
		where roomName=#{roomName}
	</update>
	
	<update id="changeAccommodatedNumNow" parameterType="java.util.Map">
		${sql}
	</update>
</mapper>